.menu{
	ul {
		list-style: none;
		display: flex;
		justify-content:space-between;
		float: right;
		width: 40%;
		li {
			margin: 20px 10px 0;
			font-family: 'Lato', sans-serif;
			text-transform: uppercase;
			font-size: .7rem;
			letter-spacing: .2rem;
			font-weight: 600;
			transition: all 1s;
			color: #51514f;
		}
	}
}