.menu{
	ul {
		list-style: none;
		display: flex;
		width: 40%;
		border: 1px solid red;
		li {
			margin: 0 10px;
			font-family: 'Nobile', sans-serif;
			text-transform: uppercase;
			font-size: .8rem;
			letter-spacing: .1rem;
		}
		li:hover {
			text-decoration: underline;
		}
	}
}